@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&display=swap');

// ===== Typography ===== //
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto Slab', serif;
$font-size: clamp(1rem, 2vw, 1.5rem);
$letter-spacing: .1em;
$line-height: 1.4;

// ======= Colors ====== //
$clr-brand: #ff9900;
$clr-primary: #ffffff;
$clr-secondary: #0d0d0d;
$clr-transparent: #0d0d0d50;
$clr-text: #262626;

// ===== Transition ===== //
$transition: .3s ease;
$slide: translateX(3px);

// ===== Utilities ===== //
.offscreen {
    margin: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.brand-text {
    color: $clr-brand;
}