.header {
    min-height: 100vh;
    background-image: url(/dist/images/hero.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 45%;
    padding: .2em 2em;

}