// Navbar menu and responsive hamburger menu

.header__nav {
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	&-brand {
		font-family: $font-secondary;
		text-decoration: none;
		font-size: 1.2rem;
		color: $clr-secondary;
	}

	.nav__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3em;

		.menu__item {
			list-style: none;

			.item__link {
				color: $clr-secondary;
				text-decoration: none;
				transition: $transition;

				&:hover {
					color: $clr-brand;
				}
			}
		}
	}
}

.header__hamburger {
	display: none;
	cursor: pointer;
	position: fixed;
	right: 5px;
	top: 12px;
	z-index: 1;

	&__bar {
		display: block;
		width: 28px;
		height: 3px;
		margin: 5px auto;
		border-radius: 2px;
		transition: $transition;
		background-color: $clr-secondary;
	}
}

// This media querry toggles hamburger navbar
// and makes small animation. This flips navbar
// horizontally and makes it responsive.

@media screen and (max-width: 768px) {
	.header__hamburger {
		display: block;
	}

	.header__hamburger.active .header__hamburger__bar:nth-child(2) {
		opacity: 0;
	}

	.header__hamburger.active .header__hamburger__bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.header__hamburger.active .header__hamburger__bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav__menu {
		position: fixed;
		z-index: 1;
		left: -100%;
		top: 0px;
		flex-flow: column nowrap;
		background-color: #fff;
		width: 100%;
		text-align: center;
		transition: $transition;
		border-bottom: 1px solid $clr-secondary;
		box-shadow: $box-shadow-bottom;

		.menu__item {
			padding: 0.5em 0;
			font-size: 1.3rem;
			font-weight: 500;
			min-width: 100vw;
			transition: $transition;

			&:hover {
				background-color: $clr-transparent;
			}
		}
	}

	.nav__menu.active {
		left: 0;
	}

	.header__nav .nav__menu {
		gap: 0.2em;
	}
}
